<head>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <style nonce="csp-nonce">
  form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
</style>

<form method="post" action="{% url 'addplayers' %}">
  {% csrf_token %}
  

  <label for="player1">Player 1 name:</label>
  <input type="text" name="player1" id="player1">

  <label for="player2">Player 2 name:</label>
  <input type="text" name="player2" id="player2">

  <label for="player3">Player 3 name:</label>
  <input type="text" name="player3" id="player3">

  <label for="player4">Player 4 name:</label>
  <input type="text" name="player4" id="player4">

  <button type="submit">Submit</button>

  
</form>

</body>
  